<!DOCTYPE html>
<html>

<head>
    <title>Books | Academics | GyaanSangrah</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/bootstrap.css">
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/booksStyle.css">
</head>

<body>
    {% load static %}
    <div class="container mx-lg-5 mt-lg-5">
        <div class="row">
            <h1 class="text-center rounded-3 p-3 bg-black bg-opacity-75 pt-3 text-white" > Books </h1>
        </div>
        
        <div class="row py-3 ">
            <form action="" class="form-group rounded-4 bg-black bg-opacity-50 pt-3 text-white" method="post">
                {% csrf_token %}
                <div class="col-md-6 m-auto">
                    <div class="form-group">
                        <label for="Dept">Department </label>
                        <select name="Dept" class="form-control bg-light bg-opacity-75">
                            <option value="CSE">Computer Science</option>
                            <option value="EEE">Electrical</option>
                            <option value="ECE">Electronics</option>
                            <option value="MECH">Mechanical</option>
                            <option value="CE">Civil</option>
                            <option value="MBA">Management</option>
                        </select><br>
                    </div>
                    
                    <div class="form-group">
                        <label for="subject">Subject </label>
                        <select name="subject" class="form-control bg-light bg-opacity-75">
                            <option value="DS">Data Structures</option>
                            <option value="DCO">Computer Organisation</option>
                            <option value="PROG">Programming and Problem Solving</option>
                            <option value="DBMS">Database Management System</option>
                            <option value="OS">Operating System</option>
                        </select>
                    </div><br>
    
                    <div class="form-group pb-3">
                        <button class="btn btn-dark btn-block" id="submit" type="submit">Submit</button>
                    </div>
    
                </div>
            </form>
            
        </div>
    </div>

    {% if myBook %}
        <table>
            <thead>
                <th> S.no </th>
                <th> Name </th>
                <th> Author </th>
                <th> PDF </th>
            </thead>
            <tbody>
                {% for x in myBook %}
                    <tr>
                        <td> {{forloop.counter}} </td>
                        <td> {{x.Name}} </td>
                        <td> {{x.Author}} </td>
                        <td> <a href="{{x.file.url}} " download>Download</a> </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>

</html>