*{
    margin: 0;
    padding: 0;
}

.container{
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

body{
    /* background: rgba(0, 0, 0, .6) url(../../img/base\ background.jpg); */
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10%;
}

#header{
    width: 100%;
}

#main{
    overflow: auto;
}

footer{
    position: relative;;
}

.navbar{
    opacity: 0.8;
    width: 100%;
    position: fixed;
}

.nav-link{
    color: white;
    padding: 1rem;
}

.nav-link:hover{
    background-color: rgb(66, 66, 66);
    color: white;
    border-bottom: 3px solid;
    border-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.2s;
}

ul li{
    width: 8rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}