@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    background: rgba(0, 0, 0, .3) url(../../img/index-background.jpg); 
    background-blend-mode: darken;
    background-size: cover;
    background-attachment: fixed;
    background-position: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header .container, #footer .container{
    border: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
}

.footer .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* #header{
    width: 100%;
    position: fixed;
}

#main{
    overflow: auto;
} */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer{
    background: rgb(26, 26, 26);
    padding: 2rem 5rem;
}

footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 999;
}

.footer-col{
    column-width: 25%;
    padding: 0 2rem;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: 500;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block; 
    transition: all 0.3s ease;
}

.footer-col ul a:hover{
    color: white;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #343434;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #343434;
    background-color: white;
}

#header .navbar{
    opacity: 0.8;
    width: 100%;
    z-index: 999;
    position: fixed;
}

#header .navbar-item{
    text-align: center;
}

#header .nav-link{
    color: white;
    padding: 1rem;
}

#header .nav-link:hover{
    background-color: rgb(66, 66, 66);
    color: white;
    border-bottom: 3px solid;
    border-color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 0.2s;
}

ul{
    list-style: none;
    padding-left: 0;
}
ul li{
    width: 8rem;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul p{
    color: #bbbbbb;
    text-align: left;
}

ul li span{
    width: 8rem;
    color: #bbbbbb;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.copyright{
    text-align: center;
    color: white;
    padding:  10px;
    width: 100%;
}