.container {
    border: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    max-width: 100%;
}

.row {
    margin-left: 8rem;
    margin-right: 8rem;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    font-weight: 500;
    padding: 12px;
}

body {
    background: rgba(0, 0, 0, .3) url(../../img/cp.jpg);
    background-blend-mode: darken;
    background-attachment: fixed;
    background-size: cover;
}

.col-12 p {
    color: white;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    min-width: 80%;
    color: white;
    border-collapse: collapse;
    margin: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

thead th {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.601);
    font-weight: 500;

}

tbody tr {
    color: #bbbbbbd5;
    background-color: rgba(0, 0, 0, 0.55);
    border-bottom: 1px solid rgb(111, 111, 111);
}

tbody tr:hover td {
    color: white;
    transform: scale(1.06);
    transition: all .4s ease;
}

tbody tr:nth-child(even) {
    background-color: rgba(90, 86, 86, 0.717);
    border-bottom: 1px solid rgb(111, 111, 111);
}

tbody tr:last-of-type {
    border-bottom: 2px solid rgba(255, 255, 255, 0.601);
}

table td {
    padding: 0;
    text-align: center;
}

tr td a {
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #c6c6c6;
    display: block;
    transition: all 0.3s ease;
}

tr td a:hover {
    transform: scale(1.09);
    color: white;
    /* padding-left: 50px; */
}

ul li {
    list-style: none;
}