h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    background-image: url(../../img/form-background.jpg);
    background-attachment: fixed;
    background-size: cover;
}
