/* write your styling here */
*{
    margin: 0;
    padding: 0;
    width: 100%;
} 

.container{
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

#mycarousel {
    width: 100%;
    z-index: -1;
    padding: 0;
    margin: 0;
}

.row{
    margin: 0;
}

#myrow{
    padding: 0;
    margin: 0;
}

#mycol{
    padding:0;
}
.carousel-inner{
    width: 100%;
    padding: 0;
}

.carousel-item{
    /* transition: transform 2s ease, opacity .5s ease-out; */
    transition-timing-function:ease-in-out !important;
    transition-duration:1s !important;
}
.carousel-item::after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }

.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 50vh;
    overflow: hidden;
}

.carousel-caption{
    color: white;
    z-index: 999;
    margin-bottom: 80px;
    transform: translateX(-12%);
}

.carousel-caption h5{
    font-size: 50px;
    font-weight: 700;
}

.carousel-caption p{
    font-size: 20px;
}

/* .carousel-fade{
    transition: all 0.3s ease;
    transition-timing-function:ease-in-out !important; 
} */

#mycard{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#cardrow{
    width: 100%;
    display: flex;
    margin-top: 4rem;
    margin-bottom: 4rem;
    flex-wrap: wrap;
    flex-direction: row;
}

.col-4{
    margin: 20px;
}

.cards{
    background: rgba(78, 78, 78, 0.308);
    box-shadow: 8px 10px 20px 5px rgb(0, 0, 0);
    color: #bbbbbb;
    border-radius: 4%;
    /* margin-right: auto;
    margin-left: auto; */
}

.cards img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    background: rgba(0, 0, 0, .3); 
    background-blend-mode: darken;
    overflow: hidden;
    padding-bottom: 10px;
    filter: brightness(70%);
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
}

.card-img-top {
    height: 35vh;
    object-fit: cover;
}

.card-body{
    padding: 10px;
}

.card-title{
    margin-bottom: 10px;
}

button a{
    text-align: center;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block; 
    transition: all 0.3s ease;
}

button a:hover{
    transform: scale(1.09);    
    color: white;
    /* padding-left: 50px; */
}