<!DOCTYPE html>
<html>

<head>
    <title>Core Subjects | Placements | GyaanSangrah</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/subjectStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Core Subjects</h1>
            </div>
            <div class="col-12">
                <p>They Cannot Stop me, I will get my education,if it is in home,school or any place</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>OPERATING SYSTEM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Love Babbar Playlist </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTr3nwuTegHLa2qlI81QweYG " download>CLick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> Gate Smashers Playlist </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiGz9donHRrE9I3Mwn6XdP8p " download>CLick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> Easy Engineering Classes </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLV8vIYTIdSnZ67NQObdXE0gFjrzPrNKHp " download>Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE DBMS SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>DATA BASE MANAGEMENT SYSTEM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Knowledge Gate Playlist </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLmXKhU9FNesR1rSES7oLdJaNFgmuj0SYV">CLick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Gate Smashers Playlist </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiFAN6I8CuViBuCdJgiOkT2Y">CLick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Scalar </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/c5HAwKX-suM " download>Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- DBMS SECTION END -->
    <!-- NETWORKING SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1> COMPUTER NETWORKS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Udacity Full course </td>
                        <td>
                            <ul>
                                <li><a href="https://www.udacity.com/course/computer-networking--ud436 ">Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> FreeCodeCamp </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=qiQR5rTSshw ">Click Here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td> Gate Smashers </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLxCzCOWd7aiGFBD2-2joCpWOLUrDLvVV_">Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- NETWORKING SECTION ENDS -->
</body>

</html>
