<!DOCTYPE html>
<html>

<head>
    <title>CORE SUBJECTS | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/subjectStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Core Subjects</h1>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero minima quia veniam asperiores ad
                    vitae veritatis vero voluptatibus quas tempore?</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>OPERATING SYSTEM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE DBMS SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>DATA BASE MANAGEMENT SYSTEM</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- DBMS SECTION END -->
    <!-- NETWORKING SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>NETWORKING</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- NETWORKING SECTION ENDS -->
</body>

</html>