<!DOCTYPE html>
<html>

<head>
    <title>COMPETITIVE PROGRAMMING | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/cpStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Competitive Programming</h1>
            </div>
            <div class="col-12">
                <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero minima quia veniam asperiores ad
                    vitae veritatis vero voluptatibus quas tempore?</p> -->
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>TUTORIALS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> C++ Full course </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe0b2nM6JHVCnAkhQRGiZMSJ " download>Apna College</a></li>
                                <li><a href="https://www.youtube.com/watch?v=SYd5F4gIH90 " download>SimpliLearn</a></li>
                                <li><a href="https://www.youtube.com/watch?v=j8nAHeVKL08&list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL " download>CodewithHarry</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Java Full course </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q " download>Code with Harry</a></li>
                                <li><a href="https://www.youtube.com/watch?v=hBh_CC5y8-s " download>Edureka</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLBlnK6fEyqRjKA_NuK9mHmlk0dZzuP1P5" download>Neso Academy</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> DATA STRUCTURES </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTryvtXdMr6rPh4IDexB5NIA " download>Love Babbar</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLUcsbZa0qzu3yNzzAxgvSgRobdUUJvz7p " download>Anuj Bhaiya</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ahIappRPN0MCAgtOu3lQjQi" download>Code with Hary</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE PRACTICE SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>PRACTICE</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                      <tr>
                          <td> 1</td>
                          <td> Apna College </td>
                          <td>
                              <ul>
                                  <li><a href="https://docs.google.com/spreadsheets/d/1hXserPuxVoWMG9Hs7y8wVdRCJTcj3xMBAEYUOXQ5Xag/edit " download>Click here to Download</a></li>
                                  <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                  <li><a href="{{x.file.url}} " download>Download</a></li> -->
                              </ul>
                          </td>
                      </tr>
                      <tr>
                          <td> 2</td>
                          <td> Love Babbar </td>
                          <td>
                              <ul>
                                  <li><a href="https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view " download>Click here to Download</a></li>
                                  <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                  <li><a href="{{x.file.url}} " download>Download</a></li> -->
                              </ul>
                          </td>
                      </tr>
                      <tr>
                          <td> 3</td>
                          <td> Striver </td>
                          <td>
                              <ul>
                                  <li><a href="https://takeuforward.org/interviews/strivers-sde-sheet-top-coding-interview-problems/ " download>Click here to Download</a></li>
                                  <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                              </ul>
                          </td>
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PRACTICE SECTION END -->
    <!-- NETWORKING SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>CONTESTS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> CodeChef Contests </td>
                        <td>
                            <ul>
                                <li><a href="https://www.codechef.com/contests/?itm_medium=navmenu&itm_campaign=allcontests " download>Click here for Contest</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> LeetCode Contest </td>
                        <td>
                            <ul>
                                <li><a href="https://leetcode.com/contest/" download>Click here to give Contest</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> GeeksforGeeks POTD </td>
                        <td>
                            <ul>
                                <li><a href="https://practice.geeksforgeeks.org/problem-of-the-day" download>Click here to do POTD</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Codeforces Contests </td>
                        <td>
                            <ul>
                                <li><a href="http://codeforces.com/contests" download>Click here to Give Contest</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- NETWORKING SECTION ENDS -->
</body>

</html>
