<!DOCTYPE html>
<html>

<head>
    <title>DSA | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/dsaStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Data Structures And Algorithms</h1>
            </div>
            <div class="col-12">
                  <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero minima quia veniam asperiores ad
                      vitae veritatis vero voluptatibus quas tempore?</p> -->
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>TUTORIAL</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Array </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/ePJxpxsnkGw " download>Click here to go</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Stack & Queue </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/-n2rVJE4vto " download>For stack click here</a></li>
                                <li><a href="https://youtu.be/UbAEP7P0vfk " download>For queue click here</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Linked List </td>
                        <td>
                            <ul>
                                <li><a href="https://youtube.com/playlist?list=PLDzeHZWIZsTr54_TH_NK4ibFojS4mmQA6 " download>Click Here</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td> Tree </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTo87y1ytEAqp7wYlEP3nner " download>Click Here</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td> Graph </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/playlist?list=PLDzeHZWIZsTobi35C3I-tKB3tRDX6YxuA " download>Click Here</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE PRACTICE SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>PRACTICE SITES</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Leetcode </td>
                        <td>
                            <ul>
                                <li><a href="https://leetcode.com/problemset/all/ " download>click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> GeeksforGeeks </td>
                        <td>
                            <ul>
                                <li><a href="https://practice.geeksforgeeks.org/explore?page=1&curated " download>CLick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> codechef </td>
                        <td>
                            <ul>
                                <li><a href="https://www.codechef.com/practice?itm_medium=navmenu&itm_campaign=practice " download>Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PRACTICE SECTION END -->
    <!-- SHEETS SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>SHEETS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Apna College </td>
                        <td>
                            <ul>
                                <li><a href="https://docs.google.com/spreadsheets/d/1hXserPuxVoWMG9Hs7y8wVdRCJTcj3xMBAEYUOXQ5Xag/edit " download>Click here to Download</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Love Babbar </td>
                        <td>
                            <ul>
                                <li><a href="https://drive.google.com/file/d/1FMdN_OCfOI0iAeDlqswCiC2DZzD4nPsb/view " download>Click here to Download</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Striver </td>
                        <td>
                            <ul>
                                <li><a href="https://takeuforward.org/interviews/strivers-sde-sheet-top-coding-interview-problems/ " download>Click here to Download</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- SHEETS SECTION ENDS -->
</body>

</html>
