<!DOCTYPE html>
<html>

<head>
    <title>PROJECTS | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/projectStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Projects</h1>
            </div>
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero minima quia veniam asperiores ad
                    vitae veritatis vero voluptatibus quas tempore?</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>WEB DEVELOPMENT</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE APP SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>APPLICATION DEVELOPMENT</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- APP SECTION END -->
    <!-- ML CONTESTS BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>MACHINE LEARNING</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ML SECTION ENDS -->
     <!-- PROJECT IDEAS SECTION BEGINS -->
     <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>PROJECT IDEAS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PROJECT IDEAS SECTION ENDS -->
</body>

</html>