<!DOCTYPE html>
<html>

<head>
    <title>PROJECTS | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/projectStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Projects</h1>
            </div>
            <div class="col-12">
                <p>Purpose of Project :- Expect the best, plan for the worst, and prepare to be surprised.?</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>WEB DEVELOPMENT</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Ideas </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=EnaIWAitmEU " download>Coding Ninjas</a></li>
                                <li><a href="https://academics.mnnit.ac.in/fresh_reg/ " download>Anuj Bhaiya</a></li>
                                <li><a href="https://www.youtube.com/watch?v=npelPnVvGqE " download>Anshika Gupta</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> RoadMap </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=MkcfB7S4fq0" download>Apna College</a></li>
                                <li><a href="https://www.youtube.com/watch?v=_1yYCa0_Q1c" download>Anuj Bhaiya</a></li>
                                <li><a href="https://www.youtube.com/watch?v=GLk7-imcjiI&t=225s " download>Love Babbar</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Resources </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=l1EssrLxt7E&list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n " download>Amand Dhatterwal</a></li>
                                <li><a href="https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" download>CodewithHarry</a></li>
                                <li><a href="https://www.youtube.com/watch?v=MkcfB7S4fq0" download>Shradha dii</a></li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE APP SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>APPLICATION DEVELOPMENT</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Ideas </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=IBobvkRSz_U " download>Busy Funda</a></li>
                                <li><a href="https://www.youtube.com/watch?v=WOMcFCQfwRA " download>Data Catchup</a></li>
                                <li><a href="https://www.youtube.com/watch?v=kPYM4Kb1ZAo " download>Nevon Projects</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> RoadMap </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=M-jKKLK40hU" download>Anuj Bhaiya</a></li>
                                <li><a href="https://www.youtube.com/watch?v=VaMWsm6CFss " download>Love Babbar</a></li>
                                <li><a href="https://www.youtube.com/watch?v=iUOc3xcovh8 " download>Nishant Chahar</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Resources </td>
                        <td>
                            <ul>
                                <li><a href="https://www.youtube.com/watch?v=mXjZQX3UzOs&t=10s " download>Codewithharry</a></li>
                                <li><a href="https://www.youtube.com/playlist?list=PLUhfM8afLE_Ok-0Lx2v9hfrmbxi3GgsX1" download>Neat Roots</a></li>
                                <li><a href="https://www.udemy.com/topic/android-development/?utm_source=adwords&utm_medium=udemyads&utm_campaign=Brand-Topic_la.EN_cc.INDIA&utm_content=deal4584&utm_term=_._ag_139989576430_._ad_595509276439_._kw_udemy%20android%20development_._de_c_._dm__._pl__._ti_kwd-367710768935_._li_9050499_._pd__._&matchtype=e&gclid=CjwKCAjwyryUBhBSEiwAGN5OCOzcYvALsyyWAHm7T5lnSCiGYq2dRHXTdSjqBGVPxqvRlhXXIqqfuhoCWLUQAvD_BwE" download>Udemy(Paid)</a></li>

                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- APP SECTION END -->
    <!-- ML CONTESTS BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>MACHINE LEARNING</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- ML SECTION ENDS -->
     <!-- PROJECT IDEAS SECTION BEGINS -->
     <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>PROJECT IDEAS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PROJECT IDEAS SECTION ENDS -->
</body>

</html>
