<!DOCTYPE html>
<html>

<head>
    <title>RESUME | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/resumeStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Resume</h1>
            </div>
            <div class="col-12">
                <p>Find links to tips for building resume and resume building websites here</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>VIDEOS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE PRACTICE SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>FORMATS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PRACTICE SECTION END -->
    <!-- SHEETS SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>SHEETS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 1</td>
                        <td> afdsga </td>
                        <td>
                            <ul>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- SHEETS SECTION ENDS -->
</body>

</html>