<!DOCTYPE html>
<html>

<head>
    <title>RESUME | PLACEMENTS</title>
    <link rel="stylesheet" tyle=text/css href="../../static/assets/css/resumeStyle.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Resume</h1>
            </div>
            <div class="col-12">
                <p>Find links to tips for building resume and resume building websites here</p>
            </div>
        </div>
    </div>

    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>VIDEOS FOR TIPS AND RESUME BUILDING</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Anuj Bhaiya </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/YeEO0DtENUo " download>Tap here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Shradha didi </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/KZehm-meGMg " download>Tap here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Love Babbar </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/-5lNHML16JU " download>Tap here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 4</td>
                        <td> Aman Dhatterwal </td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/WZ6ZhiCg2_Q" download>Tap here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 5</td>
                        <td> CodewithHarry</td>
                        <td>
                            <ul>
                                <li><a href="https://youtu.be/C7pNLIq3kOI" download>Tap here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- HERE PRACTICE SECTION BEGINS -->
    <div id="heading" class="container">
        <div class="row">
            <div class="col-12">
                <h1>FORMATS</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <table>
                <thead>
                    <th> S.no </th>
                    <th> Name </th>
                    <th> Links </th>
                </thead>
                <tbody>
                    <tr>
                        <td> 1</td>
                        <td> Canva </td>
                        <td>
                            <ul>
                                <li><a href="https://www.canva.com/templates/?query=resume " download>Cick here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 2</td>
                        <td> Novo Resume </td>
                        <td>
                            <ul>
                                <li><a href="https://novoresume.com/resume-templates?campaignid=12373459570&adgroupid=116764444926&adid=499502375664&gclid=CjwKCAjwyryUBhBSEiwAGN5OCNNV9CR6U2enZBVpr7Duw5rMl0hb3rrlyURTTUb06e0QOA--SFbO7hoCPPwQAvD_BwE" download>Click here to visit</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li>
                                <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td> 3</td>
                        <td> Resume </td>
                        <td>
                            <ul>
                                <li><a href="https://www.resume.com/ " download>Resume.com</a></li>
                                <!-- <li><a href="{{x.file.url}} " download>Download</a></li> -->
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- PRACTICE SECTION END -->
    <!-- SHEETS SECTION BEGINS -->



    <!-- SHEETS SECTION ENDS -->
</body>

</html>
