<!DOCTYPE html>
<html>

<head>
    <title>Base Page</title>
    <link rel="stylesheet" type=text/css href="../static/assets/css/bootstrap.css">
    <link rel="stylesheet" type=text/css href="../static/assets/css/nfStyle.css">

<body>

    <div id="navigationbar" class="container">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
                <a class="navbar-brand" href="index"
                    style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
                    GyaanSangrah</a>
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a href="index" class="nav-link">Home</a>
                    </li>
                    <li class="navbar-item">
                        <a href="about" class="nav-link">About</a>
                    </li>
                    <li class="navbar-item">
                        <a href="academics" class="nav-link">Academics</a>
                    </li>
                    <li class="navbar-item">
                        <a href="placement" class="nav-link">Placements</a>
                    </li>
                    <li class="navbar-item">
                        <a href="contacts" class="nav-link">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</body>

</html>