<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type=text/css href="../static/assets/css/bootstrap.css">
  <link rel="stylesheet" type=text/css href="../static/assets/css/nfStyle.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

  <style>
    .card {
      margin: 0 auto;
      /* Added */
      float: none;
      /* Added */
      margin-bottom: 10px;
      /* Added */
      top: 10;
    }

    body {
      background-image: url('Books.jpg');
    }

    .bg {
      background-image: url("images/acalender.jpg")
    }
    #main{
      margin-top: 100px;
    }

  </style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>PLACEMENTS | GYANSANGRAH</title>
</head>

<body>
  <div id="navigationbar" class="container">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
        <a class="navbar-brand" href="index"
          style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          GyaanSangrah</a>
        <ul class="navbar-nav ms-auto">
          <li class="navbar-item">
            <a style="color: white;" href="index" class="nav-link">Home</a>
          </li>
          <li class="navbar-item">
            <a style="color: white;"href="about" class="nav-link">About</a>
          </li>
          <li class="navbar-item">
            <a style="color: white;" href="academics" class="nav-link">Academics</a>
          </li>
          <li class="navbar-item">
            <a style="color: white;" href="placement" class="nav-link">Placements</a>
          </li>
          <li class="navbar-item">
            <a style="color: white;" href="contacts" class="nav-link">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div id="main" class="container mymain">
    <div class="row">
      <h1 align="center">Placements</h1>
    <div class="bg"></div>
    <div class="container">
      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
          <img src="../static/img/Datastruct.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Data Structures</h5>
            <p class="card-text">By clicking below You can get all Content of Data Structures</p>
            <a href="academic.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
          <img src="../static/img/cp.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Competitive Programming</h5>
            <p class="card-text">By clicking below You can get all Content related to competitive Programming</p>
            <a href="academic.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
          <img src="../static/img/core.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Core Subjects</h5>
            <p class="card-text">By clicking below You can get Core subjects content</p>
            <a href="academic.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col-md-4" style="width: 18rem;">
          <img src="../static/img/project.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Project</h5>
            <p class="card-text">By clicking below You can get projects Content</p>
            <a href="academic.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
        <div class="card col-md-4" style="width: 18rem;">
          <img src="../static/img/Resume.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Resume</h5>
            <p class="card-text">By clicking below You can get Resume related Content</p>
            <a href="academic.html" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row justify-content-around">
        <div class="footer-col col-lg-3">
          <h4>GyaanSangrah</h4>
          <ul>
            <p>Our objective is to provide the best content regarding
              Placement and Academics which will help you manage your time
              and will provide you with the resources of both at one place.
            </p>
          </ul>
        </div>

        <div class="footer-col col-lg-3"">
                  <h4>Quick Links</h4>
                  <ul>
                      <li><a href=" forms/formPYQ.html">Previous Years Questions</a></li>
          <li><a href="forms/assignmentForm.html">Assignments</a></li>
          <li><a href="academics.html">academics</a></li>
          <li><a href="placement.html">Placements</a></li>
          </ul>
        </div>

        <div class="footer-col col-lg-3">
          <h4>Follow Us</h4>
          <div class="social-links">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="footer-col col-lg-3 sec contact">
          <h4>Contact Us</h4>
          <ul class="info">
            <li>
              <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
              <span>MNNIT, Teliarganj
                <br>Prayagraj, UP
              </span>
            </li>
            <li>
              <span><i class="fa fa-phone" aria-hidden="true"></i></span>
              <span>9999999999
              </span>
            </li>
          </ul>
        </div>
        <div class="copyright col-lg-12">
          <p>copyright &copy 2022 GyaanSangrah. All Rights Reserved.</p>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </footer>








  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>

</html>